.full_card {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border: 0.5px solid rgba(0, 0, 0, 0.05);
  }
  div {
    padding: 20px;
  }
}
.btns {
  display: flex;
  flex-direction: column;
  button {
    margin: 5px 0;
  }
}
