.sideBar_filter {
  justify-content: center;
  align-items: center;
}
.side-bar-wrapper {
  height: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
